/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{ 
font-size:6em;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 1.563em;
font-weight:lighter; 
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.contact-form {
    margin-top:70px;
}

/*Contact Section Styles*/
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
text-align: center;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;

}
#storeHrs{
	padding-left: 0;
	list-style: none;
}
   
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.equipment{
	font-size:2.5em;
	padding-bottom: 15px;
}
.services{
   font-size:2.5em;
   margin-left: 190px;
   padding-bottom: 15px;
}
.contact{
	font-size:2.5em;
    margin-left: 260px;
    padding-bottom: 15px;	
}

h2{
	text-align: center;
	font-size: 2.8em;
}

h3{
	text-align: center;
	padding-bottom: 25px;
	margin-top: -15px;

}

p{
	font-size: 1.5em;
	padding: 0px 220px 0px 220px;
	text-align: justify;
}

footer{
	font-size: 1em;
}

.house{
	border: 1px solid #000, auto;
	background-color: #212629;
	color: #fff;
	padding: 10px 0px 10px 0px;
	margin: 60px 220px 20px 220px;
}
.nopadding{
	padding:0;
}
.navbar{
	margin-bottom: 0;
}
.logoContainer{
	
}
.storeHeadInfo{
	
}
.logo{
	height:10em;
}
.anchorTag{
	color:#ffffff;
	text-decoration: none;
	text-transform: none;
	float: left;
}
.anchorTag:hover{
	color:#ffffff;
	text-decoration: none;
	text-transform: none;
}
.serviceImg{
	height: 7em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.serviceName{
	padding-bottom: 0;
	margin-bottom: 0.5em;
}
.scheduleBtn{
	margin-bottom: 1em;
}
.serviceContainer{
	margin-top: 2em;
	margin-bottom: 2em;
}
.serviceItemContainer{
	margin-top: 2em;
}
.spaceTop{
	margin-top: 2em;
}